@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("images/mount.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
  display: flex;
  justify-content: center;
  height: 80%;
  position: relative;
  padding: 3.5rem 3.5rem 0 0;
}

input {
  outline: none;
  border: none;
  width: 15%;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
}

input[type="text"] {
  color: #f3f3f3;
}

input[type="text"]::placeholder {
  color: #f3f3f3;
  padding-left: 1rem;
}

button {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-right: 1rem;
  padding-left: 1rem;
  color: #f3f3f3;
}

.main-container {
  position: absolute;
  top: 30%;
  width: 90%;
  margin-left: 10%;
  color: #f3f3f3;
}

.condition {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  padding-left: 0.3rem;
}

.location {
  font-size: 4rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.temperature {
  font-size: 5rem;
  font-weight: 900;
  position: relative;
}

.weather-details {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  position: absolute;
  border-left: 0.2rem solid rgba(255, 255, 255, 0.75);
  top: 25%;
  left: 22.5rem;
  height: 10rem;
  padding-left: 3.5rem;
  justify-content: space-between;
}
