* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.weather-info {
  margin: 20px;
}

.weather-details {
  margin: 20px;
}